{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row mt-5 mb-3">
  	<div class="col-4 mt-5">
		<h1 class="text-center align-middle mt-3 mb-3">Acceder:</h1>
	  	<form class="formFix" action="{{url_for('auths.login') }}" method="POST">
			<div class="form-group">
			<div class="">
		        {{ form.email(class_="form-control", placeholder="Correo", required="true") }}
			</div>
			<div class="mt-2 mb-2">
				{{ form.password(class_="form-control", type="password", placeholder="Clave", required="true") }}
			</div>
	  		{% with messages = get_flashed_messages() %}
	 		{% if messages %}
		        {% for message in messages %}
				<div class="alert alert-danger" role="alert">
					{{ message }}  
				</div>
		    	{% endfor %}	
	        {% endif %}
	        {% endwith %}
			<div class="mt-4">
		        <button type="submit" class="btn btn-primary" style="width:100%;">Acceder</button>
			</div>
			</div>
	  	</form>
	</div>
</div>
{% endblock %}
