{% extends "layout.html" %}
{% block title %}Centros de Ayuda{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='get_municipio.js')}}"> </script>


 <!-- LEAFLET -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/map.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='map_detail.js') }}"></script>
<script>get_municipios();</script>
{% endblock %}
{% block content %}
<h1 class="text-center align-middle mt-1 mb-1">Detalle de Centro {{center.name}} </h1> 
  <div class="mt-3 mb-3">
      <form action="{{ url_for('centers.available_turns', center_id=center.id) }}" method="GET">
        <label for="date">Dia de reserva</label>
        <input type="date" name="date">                
        <button type="submit" class="btn btn-success">Ver disponibles</button>
      </form>
      <div class="col-8">
        <form class="formFix" action="{{ url_for('centers.create') }}" method="POST" onsubmit="submitHandler(event)">
            
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="estado">Estado</label>
              <input type="text" class="form-control" id="estado" name="estado" disabled  value={{center.publish}}>                
            </div>
            
          
          <div class="form-check">
            {% if center.status %}
            <input type="checkbox" class="form-check-input" id="active" checked name="active" disabled>
            {% else %}
            <input type="checkbox"  class="form-check-input" id="active" name="active" disabled>
            {% endif %}
            <label class="form-check-label" for="active">Activo</label>
        </div> 
      </div> 
          
          
          
            <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="name">Nombre:*</label>
                  <input type="text" class="form-control" id="name" name="name" disabled value="{{center.name}}">                
                </div>
                <div class="col-md-6 mb-3">
                  <label for="surname">Direccion:*</label>
                  <input type="text" class="form-control" id="address" name="address" disabled required  value="{{center.address}}">    
                </div>
            </div>
            
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="phone">Telefono:</label>
                <input type="text" class="form-control" id="phone" name="phone" disabled  value="{{center.phone}}">                
              </div>
              <div class="col-md-6 mb-3">
                <label for="web_site">Web:</label>
                <input type="text" class="form-control" id="web_site" name="web_site" disabled  value="{{center.web}}">    
              </div> 
            </div>

            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" disabled  value="{{center.email}}">                
              </div>
            </div>
            
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="open_hour">Hora de Apertura*:</label>
                <input type="time" class="form-control" id="open_hour" name="open_hour"  disabled   value="{{center.open_hour}}">                
              </div>
             
              <div class="col-md-6 mb-3">
                <label for="close_hour">Hora de Cierre*:</label>
                <input type="time" class="form-control" id="close_hour" name="close_hour" disabled   value="{{center.close_hour}}">    
              </div> 
            </div>
            
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="township">Municipio:*</label>
                <input type="text" class="form-control" id="township" disabled name="township" value="{{center.township}}">      
                  
              </input>          
              </div>
            </div>
            
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="center_type">Tipo de centro:*</label>
                <input  type="text" class="form-control" id="center_type"  disabled name="center_type" value="{{center.center_type}}">
                            
              </input>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="view_protocol">Protocolo:</label>
                {% if (center.view_protocol == None or center.view_protocol == '' or center.view_protocol == 'No disponible')  %}
                  <input type="file" class="form-control" accept="application/pdf" id="view_protocol" disabled name="view_protocol" value="{{center.view_protocol}}"> 
                
                {% else %}
                  <a target = "_blank" href="/static/uploads/{{center.view_protocol}}">Ver Protocolo</a>
                {% endif %}
                               
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text"  id="lat" name="lat"  value="{{center.lat}}" style="visibility:hidden">                 
              </div>
              <div class="col-md-6 mb-3">
                
                <input type="text"  id="lng" name="lng"  value="{{center.lng}}" style="visibility:hidden" >    
              </div>
            </div>
            
            <div id="mapDetail"></div>


           
            

                  
            <div class="form-row mt-1">
                <div class="col-md-12 mb-3">
                    
                  <a type="reset" class="btn btn-danger" href="{{url_for('centers.list')}}">Volver</a>
                </div>
               
            </div>
            
                        
        </form>
        
          
        
        
         
        </div>
                   
      </div>
  </div>

  
  
</div>
</div>
<script>get_municipio();</script>
  
  
 
  {% endblock %}

