/* Estilo personalizado de la pagina  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Propiedades generales del sitio */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;    
}

body , main {
    background:#f8f9fa;
}
main {      
            margin-top: 6rem;
            min-height: 508px;
}


header , footer {
       width: 100%;
       color: white;
       background:#212529 ; 
}

header{
        z-index: 11;
        margin-bottom: 6rem;
}




footer{            
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: fit-content              
}

/* Clases personalizadas */

.ulFix{
        margin-left: 0%;
}

.linkUser{
        color:white;
        text-decoration: none;
        background: transparent;
}
.formFix{
  background:#f1f3f5 ;  
}
 .mainFix{

    margin-top: .5 rem !important;
} 

.paddingFix{
    padding-left: 0px;
    padding-right: 0px;
}

#map { 
    width: 500px;
    height: 600px; }

#mapDetail { 
    width: 500px;
    height: 600px; }

#mapupdate { 
    width: 500px;
    height: 600px; }

    .pagination {
        
      }
      
      .pagination  a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}

